.component{
    background-color: var(--color-body);
}
.label {
    flex: 1;
}
.__list{
    display: flex;
    margin-top: 20px;
    gap:10px;
    color: #FFFFFF;
    align-items: center;
}
.__list .btn.--change{
    border: 1px solid #D9D9D9CC;
}
.__list .btn.--delete{
    color: #121212;
}
.__list .txt{
    padding: 3px 5px;
    border-radius: 3px;
}
.__list.--default .txt,.__list.--default .btn{
   color: #FFFFFF;
}
.__list.--default .--light{
   color: #121212;
}
.__list.--border .txt,.__list.--border .btn{
    background: unset;
}
 .txt{
    font-size: var(--f12);
    font-weight: var(--regular);
}
.--text p{
    font-size: var(--f15);
    font-weight: var(--regular);
}
.--text span{
    font-size: var(--f14);
    font-weight: var(--thin);
}
.--primary{
    border: 1px solid var(--blue-primary);
    background-color:var(--blue-primary);
    color: var(--blue-primary);
}
.--secondary {
    border: 1px solid var(--matte-blue-primary);
    background-color: var(--matte-blue-primary);
    color:var(--matte-blue-primary);
}
.--success{
    border: 1px solid var(--aesthetic-green-primary);
    background-color: var(--aesthetic-green-primary);
    color: var(--aesthetic-green-primary);
}
.--info {
    border: 1px solid var(--mosaic-blue-primary);
    background-color:var(--mosaic-blue-primary);
    color: var(--mosaic-blue-primary);
}
.--warning{
    border: 1px solid var(--orange-primary);
    background-color: var(--orange-primary);
    color: var(--orange-primary);
}
.--danger{
    border: 1px solid var(--reddish);
    background-color: var(--reddish);
    color: var(--reddish);
}
.--dark{
    border: 1px solid var(--trout);
    background-color: var(--trout);
    color: var(--trout);
}
.--light{
    border: 1px solid var(--silvery-white);
    background-color: var(--silvery-white);
    color: #121212;
}
.__list.--soft .--primary{
    border: none;
    background-color:var(--blue-primary-op);
    color: var(--blue-primary);
}
.__list.--soft .--secondary {
    border: none;
    background-color: var(--matte-blue-primary-op);
    color:var(--matte-blue-primary);
}
.__list.--soft .--success{
    border: none;
    background-color: var(--aesthetic-green-primary-op);
    color: var(--aesthetic-green-primary);
}
.__list.--soft .--info {
    border: none;
    background-color:var(--mosaic-blue-primary-op);
    color: var(--mosaic-blue-primary);
}
.__list.--soft .--warning{
    border: none;
    background-color: var(--orange-primary-op);
    color: var(--orange-primary);
}
.__list.--soft .--danger{
    border: none;
    background-color: var(--reddish-op);
    color: var(--reddish);
}
.__list.--soft .--dark{
    border: none;
    background-color: var(--trout-op);
    color: var(--trout);
}
.__list.--soft .--light{
    border: none;
    background-color: var(--silvery-white-op);
    color: #121212;
}
.__list .btn {
    height: 30px;
    font-size: var(--f13);
}
.__list .--black {
    border: 1px solid var(--color-6);
    background-color: var(--color-6);
}
.--icon{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #DBDBDB66;
}
.--icon-start{
    justify-content: flex-start;
}
.--icon-end{
    justify-content: flex-end;
}
.--icon p {
    color: #121212;
}
.--un-bg{
    background-color: unset;
}
.--tablet{
    border-radius: 100px;
}
.__list .btn-add {
    font-size: var(--f15);
    font-weight: var(--medium);
    background-color: #006CFE;
    color: #FFFFFF;
}
.__list .btn-add .image-icon{
    width: 60%;
    height: 60%;
}
.--phone{
    background-color: #006CFE;
    border-radius: 50%;
}
.--mail-orange{
    background-color: #FFA72233;
    border-radius: 50%;
}
.--mail-blue{
    background-color: #03A0EA33;
    border-radius: 50%;
}