.header,
.header__left,
.main-section__info-product__left--filter,
.icon-filter,
.info-company,
.header__right,
.main-section__product--menu,
.header__right--check-in,
.header__right--icon,
.info-company--logo,
.main-section__info-product__left--modify,
.icon-14,
.icon-18,
.icon-30,
.main-section__product--menu-item,
.btn,
.icon-search,
.main-section__info-product,
.main-section__info-product__left--search,
.main-section__info-product__left,
.main-section,
.main-section__info-product__right--cus-panel,
.main-section__info-product--modify,
.main-section__info-product__right,
.table__name-id,
.main-section__info-product--table {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-section__info-product__left--search,
.main-section__info-product__right--cus-panel,
.main-section__info-product__left--filter,
.--btn-three-dots {
    border-radius: 5px;
}

.main-section__info-product__right--cus-panel {
    gap: 5px;
}

.info-company,
.header__right--check-in,
.main-section__product--menu,
.main-section__info-product__left--filter {
    gap: 7px;
}

.header__right--icon,
.main-section__info-product__left,
.main-section__info-product__right,
.table__name-id {
    gap: 10px;
}

.main-section__info-product__left--search,
.main-section__info-product__left--filter,
.table__name-id {
    padding-left: 8px;
    padding-right: 8px;
}
.main-section{
    align-items: flex-start;
}
.main-section__info-product {
    align-items: stretch;
}

.table__name-id {
    justify-content: flex-start;
    width: 200px;
}

.table--name-id,
.main-section__info-product--modify,
.header {
    justify-content: space-between;
}

.btn {
    line-height: normal;
    background-color: var(--color-btn);
    color: var(--color-5);
    padding: 0;
    margin: 0;
    gap: 3px;
}

.icon-folder {
    padding: 8px;
}

.header {
    padding-right: 15px;
    padding-left: 15px;
    min-height: 45px;
    background-color: var(--color-header);
    display: none;
}

.main-section {
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 15px;
}

#info-company--name {
    font-size: var(--f8);
    font-weight: var(--medium);
}

.header__right {
    gap: 15px;
}

.info-company {
    margin-right: 15px;

}

.info-company--logo {
    border-radius: 20px;
    overflow: hidden;
    flex-direction: column;
    background-color: var(--color-7);
}

.info-company--name-company {
    width: 135px;
}

.header__left--text {
    white-space: nowrap;
    border-left: 1px solid var(--color-7);
}

.header__left--text a {
    font-size: var(--f13);
    font-weight: var(--thin);
    margin-left: 15px;
}

.header__left--text a:hover {
    font-weight: var(--medium);
    color: var(--color-text-nav);
}

.header__right--check-in {
    min-width: 118px;
    min-height: 30px;
    border-radius: 10px;
    border: 1px solid var(--color-7);
}

.header__right--text {
    font-size: var(--f13);
    font-weight: var(--thin);
}


.header__right--icon {
    cursor: pointer;
}

.header__right--avt {
    border-radius: 50px;
    overflow: hidden;
}

.main-section__product {
    min-width: 190px;
    background: var(--color-body);
}

.main-section__product--menu {
    color: var(--color-7);
    opacity: .6;
    padding-left: 5px;
    padding-right: 5px;
    font-size: var(--f13);
    font-weight: var(--medium);
}

.main-section__product--menu-item {
    max-width: 153px;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-left: 12px;
    margin-top: 5px;
    border-left: 1px solid var(--color-7);

}

.main-section__info-product {
    flex-direction: column;
    flex: 1;
    background-color: var(--color-info-product);
}

.menu-item--text {
    padding: 5px 15px;
    font-size: var(--f13);
    font-weight: var(--thin)
}

.main-section__info-product__left--search {
    background-color: var(--color-search-bar);
}

.search-bar,
.search-bar:focus {
    border: none;
    min-height: 30px;
    background: unset;
    outline: none;
    width: 100%;
}

.btn-add {
    font-size: var(--f13);
    font-weight: var(--thin);
    padding: 7px 10px;
}

.main-section__info-product__left--filter {
    background-color: var(--color-btn-filter);
    min-height: 30px;
    font-size: var(--f12);
    font-weight: var(--regular);
}

.main-section__info-product__right--cus-panel {
    padding: 7px;
    font-size: var(--f13);
    font-weight: var(--thin);
    background-color: var(--color-main-section__info-product__right--cus-panel);
}

.main-section__info-product--modify {
    padding: 10px;
    border-bottom: 1px solid var(--color-7);
}

.main-section__info-product {
    border-radius: 10px;
}

.--btn-three-dots {
    padding: 8px;
    background-color: var(--btn-three-dots);
}
.main-section__info-product--table {
    max-width: 100%;
    overflow: auto;
    max-height: 1000px;
}

.table {
    position: relative;
    height: 100%;
}
/* .main-section__info-product--table .table{
} */
.table--status {
    border-radius: 3px;
    padding: 3px 5px;
    color: var(--color-5);
    font-size: var(--f12);
    font-weight: var(--regular);
    display: inline-block;
}

.table td,
.table th {
    border-top: none;
    vertical-align: middle;
    min-height: 37px;
}

.table th {
    padding: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #f5f5f5;
    font-size: var(--f13);
    font-weight: var(--regular);
    position: sticky;
    top: 0;
}

.table td {
    padding: 0;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-top: 10px;
    border-bottom: 1px solid var(--color-7);
    
}

.table--status.--status {
    background-color: var(--color-status-start);
}

.table--status.--draft {
    background-color: var(--color-status-draft);
}

.table--status.--stop {
    background-color: var(--color-status-stop);
}

.table--btn {
    display: inline-flex;
}
.table__name-id--id{
    font-size: var(--f12);
    font-weight: var(--thin);
}
.table__name-id--name{
    font-size: var(--f13);
    font-weight: var(--regular);
}
.table--price,.table--type{
    font-size: var(--f13);
    font-weight: var(--thin);
}