.main-section .btn {
    line-height: normal;
    background-color: var(--color-btn);
    color: var(--color-5);
    padding: 0;
    margin: 0;
    gap: 3px;
    font-size: var(--text-primary);
}

.icon-folder {
    padding: 8px;
}

.header {
    padding-right: 15px;
    padding-left: 15px;
    min-height: 45px;
    background-color: var(--color-header);
}

.main-section {
    padding-right: 16px;
    padding-left: 16px;
    height: calc(100% - 67px);
    width: 100%;
    position: relative;
    margin-top: 60px;
}

#info--name {
    font-size: var(--f8);
    font-weight: var(--medium);
}

.header__right {
    gap: 15px;
}

.info {
    margin-right: 15px;

}

.info__logo {
    border-radius: 50%;
    overflow: hidden;
    flex-direction: column;
    background-color: var(--color-7);
}

.info--name-company {
    width: 135px;
}
.info--name-company select:focus{
outline: none;
}
.header__left--text {
    white-space: nowrap;
    border-left: 1px solid var(--color-7);
}

.header__left--text a,
.header__left--text p {
    margin-left: 15px;
}

.header__left--text .active {
    font-weight: var(--medium);
    color: var(--color-text-nav);
}

.header__right--check-in {
    min-width: 118px;
    min-height: 30px;
    border-radius: 10px;
    border: 1px solid var(--color-7);
}

.header__right--icon {
    cursor: pointer;
}

.header__right--avt {
    border-radius: 50px;
    overflow: hidden;
}

.main-section__product {
    width: 190px;
    background: var(--color-body);
}

.main-section__product__list--menu {
    color: var(--color-7);
    opacity: .6;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: var(--medium);
}

.main-section__product__list--menu-item {
    max-width: 153px;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-left: 12px;
    margin-top: 5px;
    border-left: 1px solid var(--color-7);

}

.main-section__info-product {
    min-height: 0;
    flex: 1;
    background-color: var(--color-info-product);
}

.menu-item--text {
    padding: 5px 15px;
}

.main-section__info-product__left--search {
    background-color: var(--color-search-bar);
}

.--input,
.--input:focus {
    border: none;
    min-height: 30px;
    background: unset;
    outline: none;
    width: 100%;
}

.search-bar {
    min-width: 300px;
}

.main-section .btn-add {
    padding: 7px 10px;
    height: 30px;
}


.main-section__info-product__left--filter {
    background-color: var(--color-btn-filter);
    min-height: 30px;
    font-size: var(--f12);
    font-weight: var(--regular);
}

.main-section__info-product__right--cus-panel {
    padding: 7px;
    background-color: var(--color-main-section__info-product__right--cus-panel);
}

.main-section__info-product--modify {
    padding: 10px;
    border-bottom: 1px solid var(--color-7);
    white-space: nowrap;
}

.main-section__info-product {
    border-radius: 10px;
    height: calc(100% + 60px);
    overflow: hidden;
}

.--btn-three-dots {
    padding: 8px;
    background-color: var(--btn-three-dots);
}

.main-section__info-product--table {
    min-width: 100%;
    overflow: auto;
    position: relative;
    height:100% ;
}

.table thead th {
    border: none;
}

.table {}

/* .main-section__info-product--table .table{
} */
.table--status {
    border-radius: 3px;
    padding: 3px 5px;
    color: var(--color-5);
    font-size: var(--f12);
    font-weight: var(--regular);
    display: inline-block;
}



.table th {
    padding: 7px 8px;
    background-color: #f5f5f5;
    font-weight: var(--regular);
    position: sticky;
    top: 0;
    z-index: 2;
    white-space: nowrap;
}

.table td {
    padding: 13px 8px;
    margin-top: 10px;
    border-bottom: 1px solid var(--color-7);
    white-space: nowrap;
}

.table--status.--status {
    background-color: var(--color-status-start);
}

.table--status.--draft {
    background-color: var(--color-status-draft);
}

.table--status.--stop {
    background-color: var(--color-status-stop);
}

.table--btn {
    display: inline-flex;
}

.table__name-id--id {
    font-size: var(--f12);
    white-space: nowrap;
}

.table__name-id--name {
    font-weight: var(--regular);
    white-space: nowrap;
}

.--character {
    content: "";
    opacity: .6;
    font-size: var(--text-primary);
    font-weight: var(--thin);
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.input-detail-describe {
    position: relative;
}

.--highlights-bar {
    position: relative;
}

.menu,
.main-section__product__menu {
    display: none;
}
.btn-add .txt {
    font-weight: var(--medium)
}