@import url('css/dich-vu.css');
:root{
    --color-1:#1E88E5;
    --color-2:#FF6B6B;
    --color-3:#90A4AE;
    --color-4:#F5F5F5;
    --color-5:#FFFFFF;
    --color-6:#121212;
    --color-7:#D9D9D999;
    --color-8:#D9D9D933;
    --color-9:#D9D9D940;
    --color-10:#DBDBDB40;
}
:root{
    --color-text-nav:var(--color-6);
    --color-header:var(--color-5);
    --color-btn: var(--color-1);
    --color-status-start:var(--color-1);
    --color-status-stop:var(--color-2);
    --color-status-draft:var(--color-3);
    --color-btn-check-in:var(--color-5);
    --color-body:var(--color-4);
    --color-info-product:var(--color-5);
    --color-search-bar:var(--color-8);
    --color-btn-filter:var(--color-8);
    --color-main-section__info-product__right--cus-panel:var(--color-8);
    --btn-three-dots:var(--color-8);
    --font-size-global:var(--f13);

}
:root{
    --f2: 0.125rem;
    --f3: 0.1875rem;
    --f4: 0.25rem;
    --f6: 0.375rem;
    --f7: 0.4375rem;
    --f8: 0.5rem;
    --f10: 0.625rem;
    --f12: 0.75rem;
    --f13: 0.8125rem;
    --f14: 0.875rem;
    --f15: 0.9375rem;
    --f16: 1rem;
    --f18: 1.125rem;
    --f24: 1.5rem;
    --f32: 2rem;
    --f33: 2.0625rem;
    --f34: 2.125rem;
    --f35: 2.1875rem;
    --f43: 2.6875rem;
    --f48: 3rem;
    --f72: 4.5rem;
    --f80: 5rem;
    --f96: 6rem;
    --black: 900;
    --extrabold: 800;
    --bold: 600;
    --semibold: 500;
    --medium: 500;
    --regular: 400;
    --thin: 300;
    --light: 200;
}
*{
    font-family: Inter;
}
body{
    background: var(--color-body);
    line-height: normal;
}
.table{
    margin: 0
}
a{
    color: var(--color-6);
}
a:hover{
    color: var(--color-6);
    cursor: pointer;
}
p{
    margin: 0;
}

select{
    border: none;
    font-size: var(--f13);
    font-weight: var(--regular);
    cursor: pointer;
}
.icon-13{
    width: 13px;
    height: 13px;
    cursor: pointer;
}
.icon-14{
    width: 14px;
    height: 14px;
    cursor: pointer;
}
.icon-18{
    width: 18px;
    height: 18px;
    cursor: pointer;
}
.icon-30{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-icon{
    width: 100%;
    height: 100%
}
.truncate-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%
}